[submodule "src/bdp_lib/schemas"]
	path = src/bdp_lib/schemas
	url = https://github.com/DynamicalSystemsGroup/bdp-schema.git
[submodule "clients/pybdp"]
	path = clients/pybdp
	url = https://github.com/DynamicalSystemsGroup/pybdp.git
[submodule "clients/bdp-typescript"]
	path = clients/bdp-typescript
	url = https://github.com/DynamicalSystemsGroup/bdp-typescript.git
[submodule "front-ends/bdp-frontend"]
	path = front-ends/bdp-frontend
	url = https://github.com/DynamicalSystemsGroup/bdp-frontend.git
